{% extends 'myapp/base.html' %}

{% block contenido %}



<h1 style="padding-left: 300px; font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal; text-underline-offset: ;">Bienvenidos al Club de Socios Padel Tour Ball</h1>
<h2 style="padding-top: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: xx-large; font-style: normal;">Aqui vas a poder saber toda la informacion de las ultimas actualizaciones del Padel, ademas de ver nuestro productos, torneos cercanos, etc.</h2>




<h3>Registrate para estar atento a nuestra noticias <a href="{% url 'auth-register' %}"> Aqui</a></h3>
{% endblock %}
