{% extends 'myapp/base.html' %}

{% block contenido %}



<h1 style="padding-left: 300px; font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal; text-underline-offset: ;">Bienvenidos al Club de Socios Padel Tour Ball</h1>
<h2 style="padding-top: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: xx-large; font-style: normal;">Aqui vas a poder saber toda la informacion de las ultimas actualizaciones del Padel, ademas de ver nuestro productos, torneos cercanos, etc.</h2>

<p>Tu Club, nuestro Club, el lugar donde te encontrás con vos y con tus amigos. 

 

    Donde siempre hay desafíos, esfuerzo, donde das todo y dejás lo mejor siempre! También hay diversión, risas, charlas y relax. Nuestro objetivo es brindarte la mejor experiencia; desarrollamos un servicio integral en donde cuidamos cada detalle: desde el equipo de profesionales que te guían y acompañan en cada momento, con instalaciones exclusivas y siempre buscando darte beneficios y sorpresas!
    
     
    
    El Club te espera siempre.
</p>
<div>
    <ul>
        <img src="https://as.com/masdeporte/imagenes/2021/04/09/videos/1617987527_379089_1617987660_noticia_normal.jpg" alt="">
        <img src="https://www.debate.com.mx/__export/1655914855606/sites/debate/img/2022/06/22/padel-6322450_1280_crop1655914838678.jpg_423682103.jpg" alt="">
    </ul>
</div>

<p>Un deporte que volvió con todo.

    Disfrutalo en nuestras 5 canchas panorámicas Indoor y Outdoor.
    
    Podes tomar clases individuales, grupales o jugar con amigos, no hay excusas!
    
    
</p>

<h3>Registrate para estar atento a nuestra noticias <a href="{% url 'auth-register' %}"> Aqui</a></h3>
{% endblock %}
