{% extends 'myapp/base.html' %}

{% block contenido %}

{% for palas in object_list %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title"> {{palas.nombre}} </h5>
      <h6 class="card-subtitle mb-2 text-muted">USD {{palas.precio}} </h6>
      <p class="card-text"> Stock {{palas.stock}} </p>
      <img src="https://www.tradeinn.com/f/13835/138353117/adidas-padel-pala-padel-metalbone-3.1.jpg" alt="Bullpadel Hack 3.1" style="height: 200px;">
      <div>
      <a href="{% url 'c-palas-detail' palas.id%} " class="card-link">detail</a>
      <a href="{% url 'c-palas-update' palas.id %} " class="card-link">actualizar</a>
      <a href="{% url 'c-palas-delete' palas.id %} " class="card-link">delete</a>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}