{% extends 'myapp/base.html' %}

{% block contenido %}

{% if errors %}
<p style="color: red">inicio de sersion invalida :{{errors}} </p>
{% endif %}
<div>Inicio de sesión</h1>
<form method="post" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 2%; margin-left: 1%;">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Iniciar sesion" style="margin-left: 3%;">
</form>

<p style="margin-left: 1%;">¿No tenes una cuenta? <a href="{% url 'auth-register' %}"> Crear cuenta</a></p>

</div>
{% endblock %}