{% extends 'myapp/base.html' %}

{% block contenido %}

<h1>Profesores</h1>
<p>En esta parte de nuestro sitio Web vas a poder encontrar a todos nuestros colegas, que actualmente trabajan con nosotros.</p>
<h2>Lista de Profesores</h2>
<ul>
 <li>AUGUSTO CESÁR-(PREPARADOR FISICO)</li>
 <li>PEDRO SANCHEZ-(CAZA TALENTOS)</li>
 <li>SANDRO REAL-(TECNICA EN GOLPE)</li>
</ul>
<p>¿Queres ser parte de nuestro Staff?, <a href="{% url 'auth-register' %}"> Registrate</a> y mandanos tus aptitudes en consulta a la brevedad nos contactaremos contigo.</p>
{% endblock %}
